<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
            {{ fm.label_tag }}{{ fm }}{{ fm.errors | striptags }}<br><br>
        {% endfor %}
        <input type="submit" value="Save">
    </form>

        <a href="{% url 'profile' %}">Go to profile page</a>

    {% if messages %}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}
</body>
</html>